# .env.example

# 이 파일은 GitHub에 올려도 된다.

# 실제 Key는 절대 입력하지 말 것. 예시 형식만 보여준다.



GEMINI_API_KEY=your_gemini_api_key_here

MISTRAL_API_KEY=your_mistral_api_key_here

LLM_MODEL=your_llm_model_here

HUGGINGFACE_API_KEY=your_huggingface_api_key_here

# MOCK MODE: 한도 초과나 오류가 발생할 때 미리 준비된 가짜 응답을 내어 서비스 중단을 막는 안전망의 역할. true, false로 활성 여부를 선택
MOCK_MODE=false